<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automod Solutions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/auth">Войти</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
        </nav>
        <header>
            <h1>Automod Solutions</h1>
            <p>"Мы ограничиваемся лишь фантазией" - чего у меня как раз таки и нету</p>
            <a href="/auth" class="btn">Войти</a>
        </header>
        <section id="about">
            <h2>О нас</h2>
            <p>Automod Solutions - маленькая будущая команда состоящая из одного меня, разрабатывающая решения в сфере IT-технологий. Но вообще я пишу ботов ;)</p>
        </section>
        <section id="contact">
            <h2>Контакты</h2>
            <p>Вопросы? Предложения? Рад выслушать, пишите в мне в дс: <a href="https://discord.com/users/627594217232924695">alexkein</a></p>
        </section>
    </div>
</body>
</html>
